@import '../valo/valo.scss';

@mixin mytheme {
  @include valo;


  .avatar {
    border-radius: 50%;
    box-shadow: 1px 1px;
  }

  .username {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
  }

  .editprofile {
    color: grey;
    text-decoration: none;

  }


  .editprofile:hover
  {
    color: white;
    text-decoration: none;
  }

  .clickimage{
    cursor: pointer;
  }

  .linkButton
  {
    color: white;
    text-decoration: none;
  }
  .linkButton .v-button-caption:hover
  {
    color: white;
    text-decoration: none;
  }
  .leftUserNavi {
    background: gray;
  }

  .loginBox {
    background: lightgray;
    border-radius: 5%;
  }
  .loginGeneral {
    background: gray;
  }
  .relaseNotes {
    background: white;
  }
  .topbarLayout{
    background: #696969;
  }
}